# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_NRF52840_M122
    select SOC_NRF52840_QIAA
    select ZMK_BOARD_COMPAT if BOARD_NRF52840_M122_ZMK
    imply RETAINED_MEM
    imply RETENTION
    imply RETENTION_BOOT_MODE

choice ZMK_BOOTMODE_MAGIC_VALUE_BOOTLOADER_TYPE
    default ZMK_BOOTMODE_MAGIC_VALUE_BOOTLOADER_TYPE_ADAFRUIT_NRF52
endchoice
